h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto","sans-serif";
  font-weight:600;
}


footer, footer a {
    background-color: #333333;
    color: #ffffff;
}

footer a:hover {
  color:#d9aa34;
  text-decoration: none;
}

footer li {
    list-style-type: none;
}

footer ul {
    padding-left: 10px;
}


.nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.img-fullwidth {
  width: 100%;
}

.modal-dialog {
margin-top:10%
}

.m-t-2 {
  margin-top:2rem;
}

.m-b-0 {
margin-bottom: 0 !important;
}

.m-b-2 {
  margin-bottom:2rem;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-b-5 {
  margin-bottom:5rem;
}

.m-r-075 {
    margin-right: 0.75rem;
}

.navbar {
  position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    z-index: 9999;
    height: 100px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #d9aa34;
}

.main-content {
  margin-bottom: 60px;
  padding-top:100px;
}

#social-media-button-group-wrapper {
    max-width: 100px;
}

.footer-flex-item {
    flex-grow: 1; /* default 0 */
  }

  .main-content {
    min-height: calc(100vh - 300px);
  }


.btn-primary {
background-color:#d91134 !important;
border-color:#920b23;
 }

.btn-primary:hover {
  background-color : #851917 !important;
  border-color:#920b23;
}

.breadcrumb-wrapper {
  width: 100%;
background-color: #eee;
-webkit-box-shadow: 0px 1px 0px #ccc;
box-shadow: 0px 1px 0px #ccc;
position: relative;
z-index: 2;
overflow: hidden;
margin-bottom: 2rem;
}

ol.breadcrumbs {
  display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 20px 15px;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      overflow: auto;
}

ol.breadcrumbs li {
  display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: -webkit-inline-flex;
display: inline-flex;
-ms-flex-line-pack: center;
-webkit-align-content: center;
align-content: center;
position: relative;
margin-right: 0.75rem;
}

.breadcrumbs li a:hover {
    color: #606060;
    text-decoration: underline;
}

.breadcrumbs li a, .breadcrumbs li span {
  display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: #606060;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.product-shot {
  padding: 30px 0 0;
position: relative;
margin-bottom: 1rem;
}

.product-shot img {
position: relative;
transition: all .25s;
transform: scale(0.95);
width: 100%;
z-index: 1;
}

.product-link {
  color:#666666;
}

.product-link:hover {
  color : #da1326 !important;
  text-decoration: none;
}

.product-link:hover p{
  color:#666666;
  text-decoration: none;
}

.product-title h3 {
  color: #776e64;
font-family: "Roboto";
font-weight: bold;
font-size: 16px;
line-height: 1;
margin-bottom: 10px;
}

.product-title p {
  color: #000000;
font-family: "Montserrat Light";
font-weight: 300;
}

.product-title {
  color: #666666 !important;
  font-size : 2.5rem;
}

.product-price {
  font-weight : 600;
  font-size : 2rem;
  border-top: 2px lightgrey solid;
  border-bottom: 2px lightgrey solid;
  padding: 1rem 0;
  margin-top: 1rem;
}

.product-description {
margin-top: 2rem;
}

.description-header {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size : 1rem;
}

.star-rating-label {
  font-weight: 600;
      margin-bottom: 0.5rem;
      font-size: 1rem;
}

@media(max-width : 768px){

  .section-button {
    display:none;
  }

  .product-price {
    font-size: 1.5rem;
  }

  .product-title {
    text-align : center;
    margin-top: 1rem;
    font-size : 1.5rem;
  }

  .description-header {
  text-align : center;
  }

.product-details {
  padding:0.5rem 0;
  margin : 0 2rem;
}
}

#account-card .card-header {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: center;
}

#login-page-wrapper, #register-page-wrapper {
  height: calc(100vh - 324px);

}

#login-page-wrapper {
  background-image: linear-gradient(to right, #851917, #854917);
}

#register-page-wrapper {
  background-image: linear-gradient(to right, #854917, #851917);
}

#app {
  margin-bottom: 0px;
}

#account-card, #account-card .card-header {
  border: none;
  background-color: whitesmoke;
  color: rgb(0 0 0 / 50%);
}

#account-card label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: rgb(0 0 0 / 50%);
}

#account-card button {
  background-color: #d9aa34 !important;
  border-color: #ca9f5d !important;
}

#contacts-address a{
  color:#d91134;
}

#contacts-address a:hover{
  color: #d9aa34;
}


#about-us-page-title {
    position: absolute;
    height: 100px;
    top: 20px;
}
.section-button {
  position: absolute;
  height: 100px;
  bottom: 20px;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  cursor: pointer;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

.schweppes-section {
  min-height: 100vh;
  background-color:#333333;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.take-up-entire-row {
  flex-basis: 100%;
}

#section-0 {
    min-height: calc(100vh - 158px);

    background-color: #f8f5de;
    background-image: linear-gradient(to right, rgba(255, 210, 0, 0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0, 0.1) 65%);
    box-shadow: inset 0 0 75px rgba(255, 210, 0, 0.3), inset 0 0 20px rgba(255, 210, 0, 0.4), inset 0 0 30px rgba(220, 120, 0, 0.8);
    color: rgba(0, 0, 0, 0.5);
    font-family: "AustralisProSwash-Italic";
    letter-spacing: 0.05em;
    line-height: 1.8;
    padding: 5em 10em 15em 5em;
}

.item {

    width: 50%;
    height: 100%;
    width: 400px;
}

.item.year {
    width: 100px;
    font-family: Georgia, serif;
}

img.item {
    object-fit: cover;
    -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.jumbotron {
   background: rgba(255, 255, 255, 0.8);
}

header {
  min-height: calc(100vh - 56px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.90;
  background-position: center;
}

hr {
  margin-top: 5em;
  margin-bottom: 5em;
}

#banner-underlay {
  background-color: black;
}

.main-button {
  background-color: #851919;
}



.discover-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-heading {
  font-family: Georgia, serif;
}

#scroll-gif {
  height: auto;
  width: 100px;
  flex: none;
  position: absolute;
  bottom: 0px;
}


#contact-heading {
  text-align: center;
}

#mapImg {
width: 400px;
height:400px;
}


/* text box styling*/
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
  resize: vertical;
}

input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
  resize: vertical;
}

input[type=number],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 4px;
  resize: vertical;
}

#message {
  font-family: Arial;
  height: 100px;
}

// label {
//   padding: 12px 12px 12px 0;
//   display: inline-block;
// }

/* submit button styling*/
input[type=submit] {
  background-color: #fe9800;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 95%;
}

input[type=submit]:hover {
  background-color: #851917;
}

.grid-container>div {
  text-align: center;
}

.formContainer {
  border-radius: 5px;
}

.col-25 {
  padding: 12px 20px;
  float: left;
  width: 90%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*sets layout for grid*/
#article-contact {
  padding: 1px;
  margin: 1px;
}

.grid-container {
  background-color: transparent;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
}

/**
 * creating shimmer effect on card headers
 * adapted from http://jsfiddle.net/g2vo6heL/28/
 */

.card-header {
    position: relative;
    overflow: hidden;
    display: inline-block;
}


#card-header-silver {
    background: silver;
}

#card-header-gold {
    background: gold;
}

#card-header-platinum {
    background: gray;
}


/**
 * The "shine" element
 */

.card-header:after {
    animation: shine 4s ease-in-out infinite;
    animation-fill-mode: forwards;
    content: "";
    position: absolute;
    top: -110%;
    left: -310%;
    width: 350%;
    height: 100%;
    opacity: 1;
    transform: rotate(50deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0) 100%);
}

/* Hover state - trigger effect */

/* Active state */

.card-header:active:after {
    opacity: 0;
}

@keyframes shine {
    10% {
        opacity: 1;
        top: -50%;
        left: -50%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -100%;
        left: -100%;
        transition-property: left, top, opacity;
    }
}


p.card-text {
  text-decoration: none;
  color: black;
}

p.card-text:hover {
  text-decoration: none;
}
